server:
  port: 8083

spring:
  application:
    name: balance-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

